:root {
  --padding: 60px;
  --background: #1a1a1a;
  --background_light: #2b2b2b;
  --accent: #e19743;
  --max_width: 1300px;
}

* {
  font-family: "DM Sans", sans-serif;
  color: white;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  font-weight: bold;
  font-size: clamp(3rem, 5vw, 4.2rem);
  letter-spacing: 2px;
}

h2 {
  font-size: 2.8rem;
  margin: 0%;
  font-weight: bold;
}

h3 {
  font-size: 2.2rem;
  letter-spacing: 0.5px;
  font-weight: bold;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.project_title {
  font-size: 45pt;
  font-weight: bold;
  letter-spacing: 2px;
}

.project_desc {
  font-size: 14pt;
  letter-spacing: 0px;
  font-weight: normal;
  opacity: 0.7;
  color: #fff;
}

.gap-20 {
  height: 20px;
}

.gap-40 {
  height: 40px;
}

.gap-60 {
  height: 60px;
}

.gap-80 {
  height: 80px;
}

.padding-h {
  padding-left: var(--padding);
  padding-right: var(--padding);
}

.gap-60 {
  padding-top: calc(var(--padding) / 2);
  padding-bottom: calc(var(--padding) / 2);
}

img,
iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 0;
  width: auto;
}

video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 0;
}

hr {
  border: none;
  height: 2px;
  background-color: white;
  opacity: 100%;
}

#animatedDiv {
  text-align: center;
  font-size: 10vw;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
  transform: scale(0.2);
  /* since you ask for 20% */
}

@media (max-width: 900px) {
  :root {
    --padding: 40px;
  }

  h1 {
    font-size: 40pt;
    letter-spacing: 2px;
  }

  h2 {
    font-size: 20pt;
  }

  img {
    width: 100%;
  }
  .cover_style {
    max-height: 40vh;
    height: auto;
  }
}

.cover_style {
  background-color: #202020;
  width: 100%;
  object-fit: contain;

  height: 500px;
  max-height: 70vh;
}
